.weatherGrid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 2em;
    gap: 1em;   
}

.dictionary {
    background: black;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}




@media (min-width: 480px) {
    .weatherGrid {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 768px) {
    .weatherGrid {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width: 1200px) {

}