.tempDiv {
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* transform: translateX(-100em); */
    animation: appear 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.header {
    color:rgba(0, 0, 0, 0.24);
}

@keyframes appear {
    from { transform: translateX(-10em) }
    to { xtransform: translateX(0) }
}