.Button {
    background-color: rgb(44,47,49);
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: .5em;
    margin: .51em;
    font-weight: bold;
    border-radius: 4px;
}

Button:disabled {
    background: #C7C6C6;
    cursor: not-allowed;
    /* border: 1px solid #ccc; */
    color: #fff;
}

.Success {
    background: linear-gradient(#fff, #000);
    color: white;
}

.Danger {
    background: linear-gradient(#000, #fff);
    color: #fff;
}


@media (min-width: 480px) {
    .Button {
        padding: 1em;
    }
}