.form {
    margin: 2em auto;
    text-align: center;
}

.dateInput {
    padding: .5em 1em;
    border-radius: 1em;
    margin-left: .51em;
    border: 0;
    border-bottom: 1px solid rgb(44,46,49);
}

.h3 {
    text-align: center;
}

.imageGrid {
    display: grid;
    gap: 1em;
    padding: .5em;
}

.imgGrid {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (min-width: 480px) {
    .imageGrid {
        grid-template-columns: repeat(2,1fr);
        gap: 1em;
        margin: 0 auto;
        padding: 2em;

    }
}

@media (min-width: 768px) {
    .imageGrid {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width: 1200px) {
    .imageGrid {
        grid-template-columns: repeat(4,1fr);
    }
}

