html {
    box-sizing: border-box;
  }
  /* inherit border-box on all elements in the universe and before and after
   */
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
      font-family: Arial, Geneva, sans-serif;
      margin: 0;
      padding: 0;
  }

  p {
    margin-top: .75em
  }


  img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  button:active {
    background-color: rgb(255,204,0);
  }

  .btn {
    position: absolute;
    top: 1em;
    left: 1em;
    border: 1px solid white;
    color: white;
    padding: 1em;
    background: transparent;
    transition: all 350ms ease-in;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

  .btnStyle {
    border: 0;
    padding: 1em;
    background: transparent;
    transition: all 350ms ease-in;
    cursor: pointer;
    height: 25px;
    width: 25px;
    outline: none;
    font-size: 2em;
    color: rgb(255,204,0);
}